body {
  background-image: url(picture4.jpg);
  background-repeat: repeat;
  background-size: cover cover;
  background-position: top center;
}

.page {
  font-size: 16px;
  color: white;
  font-family: "Inconsolata", monospace;
  text-align: center;
}

.container {
  width: 50rem;
  height: auto;
  margin: 7rem auto;
  background-color: black;
  text-align: justify;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
}

h1 {
  font-size: 4rem;
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  padding: 1rem;
}

p {
  padding: 1rem;
  line-height: 1.5;
  font-size: 1.2rem;
}

h1.index {
  font-size: 8rem;
  margin-top: 10rem;
}

h2.index {
  font-size: 5rem;
  margin-top: 2rem;
}

ul li {
  display: inline;
  list-style: none;
}

li a {
  margin-left: 1rem;
  margin-right: 1rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid white;
}

footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  margin-top: 20rem;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  border-top: 2px solid white;
}

nav a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

a {
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  h1.index {
    font-size: 7rem;
  }

  h2.index {
    font-size: 4rem;
  }

  nav {
    font-size: 2rem;
  }

  footer p {
    font-size: 1.3rem;
  }

  li a {
    margin: 0;
  }

  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  h1.index {
    font-size: 5rem;
  }

  h2.index {
    font-size: 2.5rem;
  }

  nav {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  p {
    padding: 0.5rem;
    font-size: 1.1rem;
  }
}
